@import "../../../styles/palette.css";

.hero-vector-img {
  width: 417px;
  /* z-index: 7; */
  background-image: url(./images/hero-side.jpg);
  background-size: 417px;
  height: 433px;
  border-radius: 0 10px 10px 0;
}

figure.svgbg {
  position: absolute;
}
figure.svgbg:nth-of-type(1) {
width: 864.58px;
    height: 418px;
    right: 62px;
    top: 241px;
    z-index: 0;
}
/* figure/svg */
figure.svgbg:nth-of-type(2) {
    width: 701px;
    height: 364px;
    right: -127px;
    top: 252px;
    z-index: -2;
}



.main-title {
    text-align: right;
    width: 70%;
    /* display: inline-block; */
    float: right;
}

#hero h1, #hero h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
#hero {
  color: white;
}
#hero p {
  font-family: Raleway;
}
#hero .row {
  background-color: var(--maincolor);
  border-radius: 10px;
}