/* Comfortaa|Quicksand */
@import '../styles/palette.css';
@import './slick/slick.css';
@import './slick/slick-theme.css';





:root {
  --fallbackfont: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --headingfont: 'Catamaran', var(--fallbackfont);
  --buttonfont: 'Raleway', var(--fallbackfont);
  --documentfont: 'Comfortaa', var(--fallbackfont);
}

html {
  font-size: 1em;
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
  font-family: var(--documentfont) !important;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  overflow-x: hidden;
}

/* 
  move to typography.css
*/

p {
  margin-bottom: 1.3em;
}

/* h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;} */

h1,
h2,
h3 {
  font-family: var(--headingfont) !important;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
  font-family: var(--documentfont) !important;
}

small,
.font_small {
  font-size: 0.707em;
}
section {
  min-height: calc(100vh);
  margin-top: 2em;
}

input.form-control {
  border: solid 2px var(--interactivecolor);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  
  section:not('#foundation-class') {
    margin-top: 5em;
    margin-bottom: 8em;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
  }

  h1 {
    margin-top: 0;
    font-size: 2.441em;
  }

  h2 {
    font-size: 1.953em;
  }

  h3 {
    font-size: 1.563em;
  }

  h4 {
    font-size: 1.25em;
  }

  small,
  .font_small {
    font-size: 0.8em;
  }

  .hero-vector-img {
    width: 100%;
  }
}
