.navbar-brand img {
  width: 65px;
}
.navbar {
  background-color: white; 
}
.show .dropdown-menu {
    display: block;
    position: absolute;
    border: none;
    top: 24px;
    /* background: transparent; */
}
